<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="@@webRoot/assets/images/favicon/favicon.ico">


<!-- Libs CSS -->
<link href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
<link href="@@webRoot/node_modules/feather-webfont/dist/feather-icons.css" rel="stylesheet">
<link href="@@webRoot/node_modules/simplebar/dist/simplebar.min.css" rel="stylesheet">


<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->