<!-- Docs header -->
<div class="docs-header">
	<nav class="navbar navbar-expand-lg bg-white border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand me-0" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/logo/freshcart-logo.svg" alt="" /></a>
			<ul class="navbar-nav ms-auto flex-row align-items-center">
				<li class="nav-item d-none d-md-block">
					<a class="nav-link me-4 border-bottom-0" href="https://freshcart.codescandy.com/index.html">
						<i class="feather-icon icon-monitor me-2"></i>
						Live Preview
					</a>
				</li>
				<li class="nav-item d-md-none me-2">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list text-primary" viewBox="0 0 16 16">
							<path
								fill-rule="evenodd"
								d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
							/>
						</svg>
					</button>
				</li>
				<li class="nav-item docs-header-btn">
					<a class="btn btn-primary" href="https://bit.ly/freshcart">
						<i class="feather-icon icon-shopping-cart me-2 d-none d-md-inline-block"></i>
						Buy now
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
